@model AppSettings
@{
    var app = Model;
    var title = $"{ViewData["Title"]} - {app.Name}";
    var keywords = ViewData["Keywords"];
    var description = ViewData["Description"];
}
<title>@title</title>
<meta charset="utf-8" />
<meta name="author" content="@app.Author">
<meta name="keywords" content="@ViewData["Keywords"]" />
<meta name="description" content="@ViewData["Description"]">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/lib/bootswatch/dist/yeti/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="~/lib/bootstrap/dist/css/sticky-footer-navbar.css" rel="stylesheet">
<link rel="stylesheet" href="~/Edgy.App.styles.css" />
